NEXTAUTH_URL=http://localhost:3000
AUTH_DEBUG=true

GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret

FACEBOOK_CLIENT_ID=your-facebook-client-id
FACEBOOK_CLIENT_SECRET=your-facebook-client-secret

NEXTAUTH_SECRET=your_nextauth_secret

NEXT_PUBLIC_RECAPTCHA_SITE_KEY=your_recaptcha_key
